---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="h-screen w-screen flex justify-center items-center">
    <div class="flex justify-between w-3/4">
      <Card
        transition:persist
        title="Title 1"
        body="Some random text here oooo ahhhh nice one this is really cool wow keep reading this"
      />
      <Card
        title="Title 1"
        body="Some random text here oooo ahhhh nice one this is really cool wow keep reading this"
      />
      <Card
        transition:animate="slide"
        title="Title 1"
        body="Some random text here oooo ahhhh nice one this is really cool wow keep reading this"
      />
    </div>
  </main>
</Layout>
