---
export interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<a href="/page2">
  <div
    class="bg-zinc-200 w-[500px] aspect-square flex flex-col justify-center items-center gap-10 rounded-xl shadow-xl p-10">
    <h1 class="font-semibold text-2xl">{title}</h1>
    <p>{body}</p>
  </div>
</a>
